<div class="modal-header">
  <h4 class="form-section">
    <div class="d-flex flex-row">
      <div><i class="mr-2 la la-eye"></i></div>
      <div>
        {{ title }}
      </div>
    </div>
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex justify-content-between">
    <mat-form-field appearance="standard">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ej. Crema"
        #input
      />
    </mat-form-field>
  </div>
  <mat-table
    #table
    class="mat-elevation-z8"
    [dataSource]="dataSource"
    matSort
    matSortActive="name"
    matSortDirection="asc"
    class="mat-cell"
    *blockUI="'products'; message: 'Loading'"
  >
    <!-- name Definition -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Producto
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Producto">
        {{ row.name }}
      </mat-cell>
    </ng-container>

    <!-- net Definition -->
    <ng-container matColumnDef="net">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Precio neto
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Precio neto">
        {{ row.net | currency: "CLP" }}
      </mat-cell>
    </ng-container>

    <!-- margin Definition -->
    <ng-container matColumnDef="margin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Ganancia
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Ganancia">
        {{ row.margin | percent }}
      </mat-cell>
    </ng-container>

    <!-- total Definition -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Precio venta
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Precio venta">
        {{ row.total | currency: "CLP" }}
      </mat-cell>
    </ng-container>

    <!-- quantity Definition -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Stock
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Stock">
        {{ row.quantity | number: "":"es-CL" }} un
      </mat-cell>
    </ng-container>

    <!-- quantitymin Definition -->
    <ng-container matColumnDef="quantitymin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Stock mínimo
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Stock mínimo">
        {{ row.quantitymin | number: "":"es-CL" }} un
      </mat-cell>
    </ng-container>

    <!-- refcicle Definition -->
    <ng-container matColumnDef="namecicle">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Ciclo
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Ciclo">
        {{ row.namecicle }}
      </mat-cell>
    </ng-container>

    <!-- nameassign Definition -->
    <ng-container matColumnDef="nameassign">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Bodega
      </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Bodega">
        {{ row.nameassign }}
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <!-- Row shown when there is no matching data. -->

    <tr class="mat-row" *matNoDataRow>
      <td *ngIf="!isFounded" class="mat-cell" colspan="4">
        <br />

        No hay coincidencias para "{{ input.value }}"
      </td>
      <td *ngIf="isEmpty" class="mat-cell" colspan="4">
        <br />

        No hay datos para mostrar
      </td>
    </tr>
  </mat-table>
  <!-- Pagination-->
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 50, 100]">
  </mat-paginator>
</div>
<div class="modal-footer">
  <button
    (click)="activeModal.dismiss('Cross click')"
    type="button"
    class="btn btn-sm grey btn-outline-secondary"
  >
    <i class="feather ft-x"></i> Cerrar
  </button>
</div>
