<div class="modal-header">
  <h4 class="form-section">
    <div class="d-flex flex-row">
      <div *ngIf="!opc"><i class="mr-2 feather ft-edit"></i></div>
      <div *ngIf="opc"><i class="mr-2 icon-plus"></i></div>
      <div>
        {{ opc ? "Agregar producto" : "Editar producto" }}
      </div>
    </div>
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>new-product works!</p>
</div>
<div class="modal-footer">
  <button
    (click)="activeModal.dismiss('Cross click')"
    type="button"
    class="btn btn-sm grey btn-outline-secondary"
  >
    <i class="feather ft-x"></i> Cerrar
  </button>
  <button
    (click)="onProductInfoSubmit()"
    class="btn btn-sm btn-outline-primary"
  >
    <i class="feather ft-check"></i> Guardar
  </button>
</div>
