:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}
:host ::ng-deep .gap_fl_btn {
  margin: 0 0.3rem;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.mat-table,
.mat-row,
.mat-header-row,
.mat-footer-row {
  padding-left: 10px;
  padding-right: 10px;
}

mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
  padding-left: 0;
}

mat-cell:last-child,
mat-footer-cell:last-child,
mat-header-cell:last-child {
  padding-right: 0;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
