<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <div class="d-flex justify-content-between">
        <mat-form-field appearance="standard">
          <mat-label>Buscar</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ej. Crema"
            #input
          />
        </mat-form-field>
        <div class="justify-content-center">
          <button
            type="button"
            class="btn btn-primary btn-sm mt-2"
            (click)="addNewProduct()"
          >
            <i class="la la-plus"></i> Crear categoría
          </button>
        </div>
      </div>
      <mat-table
        #table
        [dataSource]="dataSource"
        matSort
        matSortActive="name"
        matSortDirection="asc"
        class="mat-cell"
        *blockUI="'products'; message: 'Loading'"
      >
        <!-- name Definition -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Producto
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
        </ng-container>

        <!-- net Definition -->
        <ng-container matColumnDef="net">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Precio neto ($)
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.net }} </mat-cell>
        </ng-container>

        <!-- margin Definition -->
        <ng-container matColumnDef="margin">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Ganacia (%)
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.margin }} </mat-cell>
        </ng-container>

        <!-- total Definition -->
        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Precio venta ($)
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.total }} </mat-cell>
        </ng-container>

        <!-- quantity Definition -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Stock
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.quantity }} </mat-cell>
        </ng-container>

        <!-- quantitymin Definition -->
        <ng-container matColumnDef="quantitymin">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Stock mínimo
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.quantitymin }} </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          matRipple
          *matRowDef="let row; columns: displayedColumns"
        ></mat-row>

        <!-- Row shown when there is no matching data. -->

        <tr class="mat-row" *matNoDataRow>
          <td *ngIf="!isEmpty" class="mat-cell" colspan="4">
            <br />
            No hay coincidencias para "{{ input.value }}"
          </td>
          <td *ngIf="isEmpty" class="mat-cell" colspan="4">
            <br />
            No hay datos para mostrar
          </td>
        </tr>
      </mat-table>

      <!-- Pagination-->
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 50]">
      </mat-paginator>
    </div>
  </div>
</div>
